[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"
flask-wtf = "*"
email-validator = "*"
flask-jwt-extended = "*"
flask-httpauth = "*"
flask-mail = "*"
zxcvbn = "*"
argon2-cffi = "*"
bleach = "*"
gunicorn = "*"
ariadne = "*"
flask-login = {editable = true, ref = "main", git = "git+https://github.com/maxcountryman/flask-login.git"}
flask-security-too = {editable = true, ref = "master", git = "git+https://github.com/Flask-Middleware/flask-security.git"}

[dev-packages]
httpie = "*"

[requires]
python_full_version = "3.11.0"
