<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block styles %}{% endblock %}
</head>
<body>
<a href="/index">Home</a>
<a href="/login">Login</a>
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
{% block footer %}
{% endblock %}
</body>
{% block scripts %}{% endblock %}
</html>